.sortingSection {
    /* height: 80px;
    width: 80px; */
    /* border: 2px solid black; */
    padding: 0;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    justify-content: center;
    /* justify-content: flex-start; */
    flex-direction: row;
    flex-wrap: nowrap;
} 

.arrayContainer {
    /* position: absolute; */
    /* left: 100px; */  /* Has no effect?*/
    /* margin: auto; */ /* Nope */
    display: flex;
    float: left;
    flex-direction: row;
    flex-wrap: nowrap; /*  TODO Is this necessary? */
    text-align: center;
    justify-content: space-around;
    /* position: absolute; */   /* Nope */
    height: 60vh;   /* final: set to occupy 60% of view-height */
    /* background-color: rgba(72, 90, 90, 0.295); */    /* Nope */
    /* position: relative; */   /* Nope */
    align-items: flex-end;
}

.singleBar {
    /* width: 20px; */
    background-color: turquoise;
    display: inline-block;
    /* margin: 0 1px; */
}

